<!DOCTYPE html>
<html>
<head>
<style>
p {
  color: black;
  background-color: green;
  text-align: center;
}
.aqua-background {
  background-color: aqua;
  text-align: center;
}
#heading {
  background-color: black;
  text-align: center;
  font-size: 10em;
}
#luffyimg {
  -webkit-box-reflect: right;
}
</style>
</head>
<body>
</body>
</html>
