<!DOCTYPE html>
<html>
<head>
<style>
div {
  margin: 20px;
}
h4 {
  color: black;
  background-color: green;
  text-align: center;
}
.aqua-background {
  background-color: aqua;
  text-align: center;
}
#heading {
  background-color: black;
  text-align: center;
  font-size: 10em;
}
#educationborder {
  border-radius: 20px;
  background: darkslategray;
  padding: 20px;
  width: 1000px;
  height: 200px;
}   
.pp {font-family: "Copperplate", fantasy;}
.p0 {font-family: "Times New Roman", serif;}
p.one {border-style: double; border-color: black;}
p.double {border-style: double; border-color: yellow;}
.p1 {font-family: "Lucida Handwriting", cursive;}
</style>
</head>
<body>
</body>
</html>
