<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  background-color: white;
  text-align: center;
}
.font1 {
  font-family: "Lucida Handwriting", cursive;
}
ul.a {list-style-type: square;}
</style>
</head>
<body>
</body>
</html>
